# VSCODE
.vscode

/apps/admin/build
/apps/admin/node_modules

/apps/backend/dist
/apps/backend/node_modules

/apps/frontend/.turbo
/apps/frontend/.next
/apps/frontend/node_modules
node_modules

/apps/frontend/.env*
/apps/admin/.env*
/apps/backend/.env*