.button {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  background: #f58328;
  color: #e6e6e6;
  font-family: 'PoppinsRegular';
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 425px) {
    padding: 5px 15px;
  }
  &:hover {
    border: none;
    background: #ee9044 !important;
  }
}

.button:active,
.button:focus,
.button:disabled,
.buttonClose:active,
.buttonClose:focus,
.buttonClose:disabled {
  background: #5c636a !important;
}
