
:root {

    /**
     * colors
     */
  
    --russian-violet: hsl(269, 36%, 22%);
    --dark-purple: hsl(268, 22%, 15%);
    --eerie-black: hsl(240, 4%, 10%);
    --davys-gray: hsl(0, 0%, 34%);
    --light-gray: hsl(0, 0%, 84%);
    --cultured-1: hsl(0, 0%, 98%);
    --cultured-2: hsl(280, 14%, 96%);
    --cultured-3: hsl(280, 9%, 94%);
    --gainsboro: hsl(0, 1%, 85%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --pumpkin: hsl(22, 90%, 56%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  
    /**
     * typography
     */
  
    --ff-poppins: 'Poppins', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
  
    --fs-1: 3rem;
    --fs-2: 2rem;
    --fs-3: 1.5rem;
    --fs-4: 1.4rem;
    --fs-5: 1.3rem;
  
    --fw-900: 900;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
  
    /**
     * spacing
     */
  
    --section-padding: 50px;
  
    /**
     * box shadow
     */
  
    --shadow-1: 0px 0px 20px var(--black_10);
    --shadow-2: 0 0 20px 4px var(--black_5);
  
    /**
     * border radius
     */
  
    --radius-6: 6px;
    --radius-10: 10px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
  
  }

  
  
  /*-----------------------------------*\
    #FEATURES
  \*-----------------------------------*/
  .features{

    padding: 3rem 10%;
    background: rgba(232, 110, 11, 0.203);
    background: linear-gradient(90deg, rgb(232, 110, 11) 0%, rgb(245, 132, 40) 35%, rgba(251,153,75,1) 100%);
}

.title-h2{
   text-align: center;
   font-size: 2.5rem;
   color: #fff;
   font-weight: 600;
   margin-bottom: 30px;
}
  
  .features .section-title { margin-block-end: 30px; }
  
  .features-list {
    display: grid;
    gap: 10px;
  }
  
  .features-item {
    position: relative;
    transition: var(--transition-2);
  }
  
  .features-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40%;
    background-color: rgba(255, 244, 239, 0.486);
    border-radius: var(--radius-10);
    z-index: -1;
  }
  
  .features-item:hover { transform: translateY(-10px); }
  
  .features-card {
    border: 3px solid rgba(0, 0, 0, 0.06);
    background-color: var(--white);
    box-shadow: var(--shadow-2);
    margin: 20px;
    padding: 20px;
    border-radius: var(--radius-10);
    text-align: center;
  }
  
  .features-card .card-icon {
    color: var(--pumpkin);
    font-size: 40px;
    max-width: max-content;
    margin-inline: auto;
  }
  
  .features-card .card-icon ion-icon { --ionicon-stroke-width: 35px; }
  
  .features-card .card-title { margin-block: 18px 15px; }
  
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
    
@media (min-width: 575px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }



  /**
   * FEATURES
   */

  .features-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }



  /**
   * APP
   */

  .app-banner { max-width: max-content; }



  /**
   * FOOTER
   */

  .footer-top .container { grid-template-columns: 1fr 1fr; }

}
  /**
   * responsive for larger than 575px screen
   */
  
  @media (min-width: 575px) {
  
  
    /**
     * FEATURES
     */
  
    .features-list {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }
  
  
  }

  @media (min-width: 992px) {

    /**
     * FEATURES
     */
  
    .features .section-title { margin-block-end: 40px; }
  
    .features-list { grid-template-columns: repeat(4, 1fr); }
  }
  

  
  @media (min-width: 1200px) {
    /**
     * REUSED STYLE
     */
  
    .container { max-width: 1180px; }
  
    .section-text { --fs-4: 1.5rem; }
  
    .h2 { --fs-1: 4rem; }
  
    .h3 { --fs-2: 2.2rem; }
  
    /**
     * FEATURES
     */
  
    .features-list { gap: 25px; }
  
    .features-card { padding: 30px; }
  
  }