*, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --orange: #F58328;
    --white: #fff;
    --dark: #1e1c2a;
}

.nav-2{
    background: var(--orange);
    border-radius: 5px;
    padding: 10px 30px;
    color: var(--white);
    margin-left: -30px;

}
.nav-3{
    background: var(--orange);
    border-radius: 5px;
    padding: 10px 30px;
    color: var(--white);
    margin-left: -30px;
}
.nav-0{
    outline: 1px solid var(--orange);
    outline-offset: -1.2px;
    background: var(--white);
    border-radius: 5px;
    border-color: var(--orange);
    padding: 10px 30px;
    color: var(--orange);
    
}
.nav-0:hover{
    background: var(--orange);
    color: var(--white)
}
.nav-3:hover, .nav-2:hover{
    background: #ffa358;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    z-index: 99;
}

.navigation .logo{
    width: 130px;
    height: 80px;

}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navigation ul li a{
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.nav-1{
    color: var(--dark);
}

.navigation ul li .nav-1:hover{
    color: var(--orange);

}

.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

/*--------------------------------------------------------------*/
@media (max-width: 785px){
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;
    }.menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation ul{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .nav-2{
        background: var(--orange);
        border-radius: 5px;
        padding: 10px 30px;
        color: var(--white);
        margin-left: -2px;
    }
    .nav-3{
        background: var(--orange);
        border-radius: 5px;
        padding: 10px 30px;
        color: var(--white);
        margin-left: -2px;
    }
    
    .nav-0:hover{
        background: var(--orange);
        color: var(--white)
    }
    .nav-3:hover, .nav-2:hover{
        background: #ffa358;
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 130px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 16px 0;
    }
}