@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}



:root{
    --orange: #F58328;
    --white: #fff;
    --dark: #1e1c2a;
}



.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text{
    max-width: 37rem;

}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--orange);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 3rem;
    color: var(--dark);
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p{
    margin-bottom: 4rem;
}
.home-btn{
    padding: 15px 45px;
    background: var(--orange);
    color: var(--white);
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.5s;
}
.home-btn:hover{
    background: #ffa55c;
}

.home-img img{
    width: 130%;

}

/*--------------------------------------------------------------*/
@media (max-width: 785px){
   
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        margin-top: 80px;
        font-size: 20px;
    }
    .home .text-h1{
        font-size: 2.6rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 16px;
    }
    .home-img{
        width: 120%;
        height: 100%;
        margin-top: -86px;
        margin-left: -140px;
    }
}
